<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Create Post</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


</head>
<body>
<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../static/img/sitedark.png" th:src="@{/img/sitedark.png}" width="250" height="100" alt="CFH Blog Site" class="d-inline-block align-text-top">
        </a>
    </div>
</nav>

    <form action="#" th:action="@{/savePost}" th:object="${post}" method="POST">
        <div>
            <input type="text" th:field="*{title}" placeholder="Post Title" class="form-control mb-4 col-4" required>
        </div>
        <div id="error-message">
            <span class="text-danger" th:errors="*{title}"> </span> 
        </div>
        <div>
            <textarea th:field="*{content}" placeholder="Enter content here" class="form-control mb-4 col-4" required/>
        </div>
        <div id="error-message">
            <span class="text-danger" th:errors="*{content}"> </span>
        </div>

        <button type="submit" class="btn btn-info col-2"> Submit Post</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Post List</a>
</body>
</html>