<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team 3 Blog Project</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


</head>
<body>
<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../static/img/sitedark.png" th:src="@{/img/sitedark.png}" width="250" height="100" alt="CFH Blog Site" class="d-inline-block align-text-top">
        </a>
    </div>
</nav>

    <div th:object="${post}"/>
        <h1><span th:utext="${post.title}"></span></h1>
        <p><span th:utext="${post.content}"></span></p>
    </div>

    <p>Are you sure you want to delete?</p>
    <a th:href="@{'/deletePost/' + ${post.id} + '/confirm'}" class="btn btn-danger">Yes</a>
    <a th:href="@{/}" class="btn btn-primary">No</a>

</body>
</html>