<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team 3 Blog Project</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


</head>
<body>
<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../static/img/sitedark.png" th:src="@{/img/sitedark.png}" width="250" height="100" alt="CFH Blog Site" class="d-inline-block align-text-top">
        </a>
    </div>
</nav>

    <div th:if="${param.error}">
        <div class="alert alert-danger">There was an issue updating your post; please try again.</div>
    </div>

    <form action="#" th:action="@{/updatePost}" th:object="${post}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{title}" class="form-control mb-4 col-4">

        <textarea th:field="*{content}" class="form-control mb-4 col-4"/>

        <button type="submit" class="btn btn-info col-2"> Update Post</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Post List</a>
</body>
</html>