footer {
    box-shadow: 0 50vh 0 50vh #3A1027;
}

body {
    background-color: #64485c;
}

h1 {
    color: white;
}

aside {
    position: relative;
    width: 50vh;
    height: 75vh;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

.blog-footer {
    background-color: #3A1027;
    color: white;
}

.copyright {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.footer-header {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.navbar {
    background-color: #3A1027;
    color: white;
}

.bi {
    display: inline-block;
    position: relative;
}

.bi:hover {
    fill: #be1086;
    transition: 0.4s;
}

.card-header {
    background-color: #cc6a08;
    color: white;
}

.card-body {
    background-color: #83667b;
    color: white;
}

.create-btn {
    background-color: #efe2ba;
}

.btn-primary {
    background-color: #e7717d;
    float: right;
}

.btn-danger{
    background-color: #c2b9b0;
    float: right;
}