<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="UTF-8">
    <title>Team 3 Blog Project</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


</head>
<body>
    <nav class="navbar bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="../static/img/sitedark.png" th:src="@{/img/sitedark.png}" width="250" height="100" alt="CFH Blog Site" class="d-inline-block align-text-top">
            </a>

            <a th:href = "@{/login}" sec:authorize="!isAuthenticated()" class="btn btn-primary btn-sm mb-3"> Login </a>
            <a sec:authorize="isAuthenticated()" th:href = "@{/logout}" class="btn btn-danger btn-sm mb-3"> Logout </a>
        </div>
    </nav>


    <div th:if="${param.logout}" class="alert alert-info">You have been logged out.</div>


<div class="alert alert-info delete-alert" th:if="${param.deleted}">Post has been successfully deleted</div>
    <div class="alert alert-info update-alert" th:if="${param.updated}">Post has been successfully updated</div>

<div class="container my-2 post-container">
    <h1>Post List</h1>

    <a sec:authorize="isAuthenticated()" th:href="@{/post/new}" class="btn btn-primary btn-sm mb-3"> Add Post </a>

    <div th:each="post : ${listPosts}">
        <div class="card">
            <div class="card-header">
                <p>Created on: <span th:text="${post.date}"></span></p>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/" th:text="${post.title}" th:href="@{/posts/{id}(id=${post.id})}"></a>
                </h5>
                <p class="card-text" th:text="${post.content}"></p>
                <a th:href="@{'/post/' + ${post.id} + '/update' }" class="btn btn-primary">Update</a>
                <a th:href="@{/deletePost/{id}(id=${post.id})}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Posts: [[${totalItems}]]
            </div>
            <div class="col-sm-1">

             <span th:each="i: ${#numbers.sequence(1, totalPages)}">
              <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
              <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
             </span>

            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage > 1}" th:href="@{'/page/' + ${currentPage - 1}}">
                    <span th:unless="${currentPage == 1}">Prev</span>
                </a>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">
                    <span th:unless="${currentPage == totalPages}">Next</span>
                </a>
            </div>


            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>